.card {
  width: 24rem;
  height: 32rem;
  margin: auto;
  box-shadow: 0px 0px 8px 0px #ccc;
  display: flex;
  flex-direction: column;
}

.card__user-info {
  height: 24rem;
  background-color: #ffffff;
}

.card__user-stats {
  height: 8rem;
  background: linear-gradient(150deg, #333, #000);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.stats__number {
  color: #ffffff;
  font-size: 1.5rem;
}

.stats__text {
  color: #eeeeee;
  font-size: 0.75rem;
}
