.search-box__container {
  width: 21rem;
  margin: 0 auto 32px;
}

.search-box__input {
  padding: 18px 0;
  border: none;
  border-bottom: 1px solid #707070;
  border-radius: 0;
  background-color: #eee;
}

.search-box__input:focus {
  border-bottom: 1px solid #007bff;
  border-radius: 0;
  background-color: #eee;
  box-shadow: none;
}
