.user-stats {
  background: linear-gradient(150deg, #333, #000);
  border-radius: 0 0 12px 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 6rem;
}

.stats__number {
  color: #ffffff;
  margin: 0 !important;
}

.stats__text {
  color: #cccccc;
  font-size: 0.75rem;
  margin: 0 !important;
}
