:root {
  --clr-primary-dark: #000;
  --clr-secondary-dark: #555;
  --clr-primary-light: #fff;
  --clr-background: #f9f9f9;
  --clr-accent: #386de5;
  /* --clr-accent: #9b32dd; */
}

.app {
  margin: 1.5rem 0;
}

@media (min-height: 800px) {
  .profile--card__container {
    margin: 3rem 0;
  }
}

@media (min-height: 1200px) {
  .profile--card__container {
    margin: 6rem 0;
  }
}
