.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30rem;
  padding: 1rem;
  background-color: #f9f9f9;
}

.user-avatar {
  box-shadow: inset 0px 0px 8px 2px #ccc;
  padding: 15px;
  border-radius: 50%;
}

.user-avatar__img {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}

.user-info__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 12rem;
  text-align: center;
}

.user-info__name {
  font-weight: bold;
  margin: 1.5rem 0 0 !important;
}

.user-info__location {
  color: #006cd9;
  font-weight: bold;
}

.user-info__company {
  font-weight: 300;
  margin: 1rem 0;
}

.user-info__bio {
  margin: 0 !important;
  align-self: flex-end;
  font-size: 14px;
}
