.card {
  background-color: var(--clr-background);
  box-shadow: 0px 0px 8px 0px #ccc;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  width: 24rem;
  margin: auto;
}

.profile--card {
  margin-top: 10rem;
  height: 26rem;
}

.error--card {
  height: 12rem;
  padding: 2rem;
}

.error__heading {
  color: var(--clr-accent);
  margin-bottom: 1rem;
  font-weight: bold;
}

.error__text {
  color: var(--clr-secondary-dark);
  font-weight: bold;
}
